<ul>
	<li>
		<label>
			Name: <span class="hide">Error</span>
		</label>
		<input value="Michael" placeholder="Firstname" type="text" nn-validate="min(5)" nn-name="firstName" autofocus />
	</li>
	<li><input value="Larsson" placeholder="Lastname" type="text" nn-validate="min(5)|max(10)" nn-name="lastName" /></li>
	<li><input value="sv@miche.se" placeholder="Email" type="email" nn-validate="email" nn-name="email" ></li>
	<li><input value="Michael" placeholder="Password" type="text" nn-validate="min(5)|max(15)" nn-name="password" /></li>
	<li><input value="0702199338" placeholder="Phone" type="number" nn-validate="min(5)|max(15)" nn-name="phone" /></li>
	<li><button nn-name="submit">Add</button></li>
</ul>
<div nn-name="test">
	<h1>{{ firstName }} </h1>
</div>
